<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Cory Booker says Jeff Sessions's 'obsession with marijuana' puts him 'on the wrong side of history'</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" media="screen" href="static/main.min.css" />
  <script src="static/vue.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
  <script src="https://www.gstatic.com/firebasejs/5.0.4/firebase.js"></script>
  <script src="static/papaparse.min.js"></script>
</head>
<body>
  <div id="app" class="container" v-cloak>
    <article v-if="which !== undefined && which >= 0 && which < 20">
      <h1>Cory Booker says Jeff Sessions's 'obsession with marijuana' puts him 'on the wrong side of history'</h1>
      <section class="meta">
        <img class="photo" src="static/author.webp">
        <u class="name">Hunter Walker</u>
        <span class="source">White House Correspondent</span>
        <time class="time">January 6, 2018</time>
      </section>
      <section class="content">
        <img src="static/1.png">
        <p>WASHINGTON — In a conversation with Yahoo News on Thursday evening, Sen. Cory Booker, D-N.J., offered a blunt assessment of Attorney General Jeff Sessions’s decision to end the federal government’s hands-off policy toward marijuana.</p>
        <p>“He is out of step with our nation. He is on the wrong side of history just like you look back on those people who were pushing alcohol prohibition,” Booker said of Sessions. “He’s going to be looked back at as someone who was undermining and hurting this country.”</p>
        <p>Booker predicted Sessions’s decision could lead to a “massive pushback” that could include increased support for legalization in Congress.</p
        ><p>The senator’s comments came hours after Sessions rescinded three memos from the Obama administration that largely left the question of legalizing marijuana up to individual states — keeping federal laws against it on the books while not challenging local laws that allowed its distribution or sale. That policy encouraged many states to decriminalize marijuana for medical purposes and, increasingly, for recreational users.</p>
        <p>During the campaign, Donald Trump said he would leave the issue up to the states, but Booker said he knew Sessions might reverse that course. “I was incredibly angered but really not that shocked. I’ve been warning people about this possibility,” Booker said. “Because not only did [Sessions] speak out against state action on marijuana, but he seemed to have a particular obsession with marijuana and I think a misperception on how dangerous the drug is.”</p>
        <p>In <u>a statement on Thursday</u>, Sessions called his shift a “return to the rule of law.” But his <u>directive to U.S. attorneys</u>, while a clear change in direction from the Obama position, did not include an explicit order to begin a crackdown. Rather, Sessions said federal prosecutors should use their own discretion “in deciding which marijuana activities to prosecute.”</p>
        <img src="static/2.png">
        <p>Eight states and the District of Columbia have legalized marijuana for recreational use, and 21 other states have medical marijuana programs. In Booker’s home state of New Jersey, the incoming governor, Democrat Phil Murphy, has said he wants to legalize marijuana within 100 days of taking office later this month. Marijuana advocates say legalization has provided a new source of <u>tax revenue</u> and claim it has <u>not led to increased underage use or traffic accidents</u>. Proponents of legalization also cite evidence that increased access of marijuana leads to declined opioid use. Critics of marijuana argue it is <u>a threat to public health</u> that has led to increased hospitalizations and other dangers associated with intoxication.</p>
        <p>Booker has been a leading advocate of legalization in Congress. In August 2017, he introduced legislation that would legalize marijuana, expunge federal marijuana convictions, and apply penalties to states where minorities faced disproportionate marijuana-related arrest or incarceration rates. Booker, a former mayor of Newark who has made criminal justice reform one of his priorities since taking office in 2013, told Yahoo News that he doesn’t think Sessions grasps how marijuana prohibition is “targeting poor people, vulnerable people [and] minorities.”
        </p>
        <img src="static/3.png">
        <p>“I don’t think he has an understanding of how the war on drugs has not been a war on drugs but a war on people and has had a devastating impact on poor Americans and communities of color,” Booker said of Sessions. “We know objectively that blacks and whites have no difference in marijuana usage or selling, but blacks are <u>about 3.7 times more likely</u> to be arrested for it.</p>
        <p>“Getting arrested for marijuana usage has more to do with class or race than innocence or guilt,” Booker said, adding that marijuana convictions can have dire consequences, including the loss of federal student loans and access to public housing and diminished job prospects. He said the disparities in marijuana arrest and incarceration rates make Sessions’s directive “something that is violating the ideals in our country of equal justice under the law.”</p>
        <p>“It is punishing not just to individual families and children but to entire communities when that enforcement is disproportionately targeted towards low-income folks and frankly towards minorities,” said Booker.</p>
        <p>He added: “Three out of the last four presidents have admitted to using marijuana. I went to Stanford and Yale, where people cavalierly used the drug without any fear of consequences. … I serve in a body in Congress where people openly admit to using marijuana. Every single House and Senate member that has tried marijuana … faced no consequences.”</p>
        <p>(For his part, Booker told Yahoo News he has never used marijuana. “No. I don’t drink. I’ve never tried marijuana. No on even alcohol,” he said.)</p>
        <p>Booker described Sessions’s decision as “hypocrisy” because of Trump’s campaign promise not to interfere with local marijuana laws and vocal support for states’ rights. He also argued the economic and racial disparities in marijuana enforcement have benefited members of Congress.</p>
        <img src="static/4.png">
        <p>Polls show <u>a majority of Americans, particularly millennials, favor marijuana legalization</u>. Booker attributes this, in part, to the value of medical marijuana.</p>
        <p>“The American public, I’m sure, feels a deep sympathy and empathy for people that are benefiting from this, whether it’s parents who have kids with Dravet syndrome [a seizure disorder], veterans who are suffering from PTSD, individuals who are using pot as an off-ramp drug from serious opioids,” Booker said.</p>
        <p>Booker also rattled off a series of positive side effects that he said have come in the areas where recreational marijuana use has been legalized.</p>
        <p>“The reality is, we’re starting to see so much good that’s being done by this, not to mention well over 100,000 jobs in the United States, not to mention the incredible revenues states are receiving, not to mention the fact that places that have done it, like Washington, D.C., where I am right now, have seen drops in violent crime,” said Booker.</p>
        <p>Sessions’s decision drew swift criticism from both Democrats and Republicans. Sen. Cory Gardner, a Republican from Colorado, which has legalized both recreational and medical marijuana, was particularly harsh in rebukes delivered on the Senate floor and <u>in an interview with Yahoo News</u>. Gardner said the attorney general “went back on his word” after personally promising him that he would not take steps toward stricter marijuana enforcement. Gardner, who heads the National Republican Senatorial Committee, pointed to the revenue and jobs legalization has created in his home state as well as “the question of constitutional states’ rights.”</p>
        <img src="static/5.png">
        <p>Booker predicted Sessions’s directive would increase support for his legalization legislation. He is looking to team up with Gardner on the issue.</p>
        <p>“I think it’s going to create more momentum towards my legislation,” said Booker. “My staff’s already reached out to Cory’s staff to see if the ‘Cory caucus’ could come up with some legislation that might be even more amenable to him that could directly respond to Jeff Sessions’s actions.”</p>
        <p>Booker laughed when asked if he thinks Sessions would benefit from trying marijuana.</p>
        <p>“I don’t know if he has or if he hasn’t. He may have already, but who knows? To me, it’s bigger than any individual in the attorney general’s division or the Senate,” said Booker. “This is really a larger issue of justice. It’s not about a plant ultimately. This is about what’s just and right in our country.”</p>
      </section>
      <section class="comments">
        <div class="statement">
          <p><strong>We need your voice on marijuana legalization. We welcome your on-topic commentary, criticism, and expertise.</strong></p>
          <p><strong>Please follow our guidelines to ensure everyone has a positive experience, and please help us moderate by reporting any inappropriate posts.</strong>
          <p>Don't make false statements, defame, or impersonate someone else.<br>
          Don't copy and post others' material, trademarks, or intellectual property.<br>
          Comments shouldn't harass, abuse, or threaten anyone's personal safety or property.<br>
          Don't post profanity, obscenities, abusive language, or otherwise objectionable content.<br>
          </p>
          

          <p><em>* We are not responsible or liable in any way for comments posted by its users. </em></p>
        </div>
        <div class="post-comment">
          <div class="row">
            <span>{{(validateEmail(userData.email) && userData.email) || 'Please log in first.'}}</span>
          </div>
          <div class="row">
            <img :src="(validateEmail(userData.email) && userData.email) ? 'http://tinygraphs.com/squares/'+userData.email+'?theme=frogideas&numcolors=2' : 'static/user.png'">
            <textarea ref="comment" cols="40" rows="3" placeholder="Post your comment here."></textarea>
          </div>
          <div class="row">
            <button class="button" @click="post()">Post</button>
          </div>
        </div>
        <ul class="comment-list">
          <li v-for="comment in comments" :key="comment.message_id" class="comment">
            <img class="photo" :src="'http://tinygraphs.com/squares/'+comment['user_id']+'?theme=frogideas&numcolors=2'">
            <div class="details">
              <div class="row">
                <span class="name">{{comment.nickname}}</span>
                <template v-if="comment.hasFlag">
                  <div v-if="comment.flagInfo" class="bot large-screen">
                    <span v-if="!isFeedbackSet(comment.message_id)"><img src="static/flag.png">&nbsp;{{comment.flagInfo}}<sup><img class="help" @mouseenter="showTooltip" @mouseleave="hideTooltip" src="static/help.png"/></sup></span>
                    <button v-if="!isFeedbackSet(comment.message_id)" class="button" @click="feedback('Agree', comment.message_id)">Agree{{comment.hasBot && " with bot"}}</button>
                    <button v-if="!isFeedbackSet(comment.message_id)" class="button" @click="feedback('Oppose', comment.message_id)">Disagree{{comment.hasBot && " with bot"}}</button>
                    <span v-if="isFeedbackSet(comment.message_id)">{{isFeedbackSet(comment.message_id).feedback === 'Agree' ? 'Agree' : 'Disagree'}}{{comment.hasBot && " with bot"}}</span>
                    <button v-if="isFeedbackSet(comment.message_id)" class="button" @click="feedback('Change', comment.message_id)">Change</button>
                  </div>
                  <div v-else class="bot large-screen">
                    <button v-if="!isReported(comment.message_id)" class="button" @click="report(comment.message_id)"><img src="static/flag-outline.png">&nbsp;Report Abuse{{comment.hasBot && " to bot"}}</button>
                    <template v-else>
                      <span>Reported</span>
                      <button class="button" @click="report(comment.message_id, false)">Change</button>
                    </template>
                  </div>
                </template>
                <div v-else class="bot large-screen">
                  <button v-if="!isReported(comment.message_id)" class="button" @click="report(comment.message_id)"><img src="static/flag-outline.png">&nbsp;Report Abuse{{comment.hasBot && " to bot"}}</button>
                  <template v-else>
                    <span>Reported</span>
                    <button class="button" @click="report(comment.message_id, false)">Change</button>
                  </template>
                </div>
              </div>
              <div class="row small-screen">
                <template v-if="comment.hasFlag">
                  <div v-if="comment.flagInfo" class="bot">
                    <span v-if="!isFeedbackSet(comment.message_id)"><img src="static/flag.png">&nbsp;&nbsp;{{comment.flagInfo}}<sup><img class="help" @mouseenter="showTooltip" @mouseleave="hideTooltip" src="static/help.png"/></sup></span>
                    <button v-if="!isFeedbackSet(comment.message_id)" class="button" @click="feedback('Agree', comment.message_id)">Agree{{comment.hasBot && " with bot"}}</button>
                    <button v-if="!isFeedbackSet(comment.message_id)" class="button" @click="feedback('Oppose', comment.message_id)">Disagree{{comment.hasBot && " with bot"}}</button>
                    <span v-if="isFeedbackSet(comment.message_id)">{{isFeedbackSet(comment.message_id).feedback === 'Agree' ? 'Agree' : 'Disagree'}}{{comment.hasBot && " with bot"}}</span>
                    <button v-if="isFeedbackSet(comment.message_id)" class="button" @click="feedback('Change', comment.message_id)">Change</button>
                  </div>
                  <div v-else class="bot">
                    <button v-if="!isReported(comment.message_id)" class="button" @click="report(comment.message_id)"><img src="static/flag-outline.png">&nbsp;Report Abuse{{comment.hasBot && " to bot"}}</button>
                    <template v-else>
                      <span>Reported</span>
                      <button class="button" @click="report(comment.message_id, false)">Change</button>
                    </template>
                  </div>
                </template>
                <div v-else class="bot">
                  <button v-if="!isReported(comment.message_id)" class="button" @click="report(comment.message_id)"><img src="static/flag-outline.png">&nbsp;Report Abuse{{comment.hasBot && " to bot"}}</button>
                  <template v-else>
                    <span>Reported</span>
                    <button class="button" @click="report(comment.message_id, false)">Change</button>
                  </template>
                </div>
              </div>
              <div class="row text">{{comment.comment_text}}</div>
              <div class="row">
                <button class="button"  @click="replyTo(comment)"><img src="static/reply.png" class="reply-icon">Reply</button>
                <button class="button" @click="showRepliesOf(comment)">Replies{{replyCount(comment) ? `(${replyCount(comment)})` : ''}}</button>
                <button class="button vote" :class="{ active: isVoted('up', comment.message_id) }" @click="vote('up', comment.message_id)"><img src="static/like.png">{{parseInt(comment.up_count, 10) + (isVoted('up', comment.message_id) ? 1 : 0)}}</button>
                <button class="button vote" :class="{ active: isVoted('down', comment.message_id) }" @click="vote('down', comment.message_id)"><img src="static/dislike.png">{{parseInt(comment.down_count, 10) + (isVoted('down', comment.message_id) ? 1 : 0)}}</button>
              </div>
            </div>
          </li>
          <li v-for="(comment, idx) in userData.comments.filter((item) => !item.mid)" :key="idx" class="comment">
            <img class="photo" :src="(validateEmail(userData.email) && userData.email) ? 'http://tinygraphs.com/squares/'+userData.email+'?theme=frogideas&numcolors=2' : 'static/user.png'">
            <div class="details">
              <div class="row">
                <span class="name">You</span>
              </div>
              <div class="row text">{{comment.content}}</div>
            </div>
          </li>
        </ul>
      </section>
      <div v-if="selectedComment !== null" class="modal">
        <section class="replies">
          <div class="close" @click="closeModal">X</div>
          <ul class="reply-list">
              <li class="comment">
                <img class="photo" :src="'http://tinygraphs.com/squares/'+selectedComment['user_id']+'?theme=frogideas&numcolors=2'">
                <div class="details">
                  <div class="row">
                    <span class="name">{{selectedComment.nickname}}</span>
                    <template v-if="selectedComment.hasFlag">
                      <div v-if="selectedComment.flagInfo" class="bot large-screen">
                        <span v-if="!isFeedbackSet(selectedComment.message_id)"><img src="static/flag.png">&nbsp;{{selectedComment.flagInfo}}<sup><img class="help" @mouseenter="showTooltip" @mouseleave="hideTooltip" src="static/help.png"/></sup></span>
                        <button v-if="!isFeedbackSet(selectedComment.message_id)" class="button" @click="feedback('Agree', selectedComment.message_id)">Agree{{selectedComment.hasBot && " with bot"}}</button>
                        <button v-if="!isFeedbackSet(selectedComment.message_id)" class="button" @click="feedback('Oppose', selectedComment.message_id)">Disagree{{selectedComment.hasBot && " with bot"}}</button>
                        <span v-if="isFeedbackSet(selectedComment.message_id)">{{isFeedbackSet(selectedComment.message_id).feedback === 'Agree' ? 'Agree' : 'Disagree'}}{{selectedComment.hasBot && " with bot"}}</span>
                        <button v-if="isFeedbackSet(selectedComment.message_id)" class="button" @click="feedback('Change', selectedComment.message_id)">Change</button>
                      </div>
                      <div v-else class="bot large-screen">
                        <button v-if="!isReported(selectedComment.message_id)" class="button" @click="report(selectedComment.message_id)"><img src="static/flag-outline.png">&nbsp;Report Abuse{{selectedComment.hasBot && " to bot"}}</button>
                        <template v-else>
                          <span>Reported</span>
                          <button class="button" @click="report(comment.message_id, false)">Change</button>
                        </template>
                      </div>
                    </template>
                    <div v-else class="bot large-screen">
                      <button v-if="!isReported(selectedComment.message_id)" class="button" @click="report(selectedComment.message_id)"><img src="static/flag-outline.png">&nbsp;Report Abuse{{selectedComment.hasBot && " to bot"}}</button>
                      <template v-else>
                        <span>Reported</span>
                        <button class="button" @click="report(comment.message_id, false)">Change</button>
                      </template>
                    </div>
                  </div>
                  <div class="row small-screen">
                    <template v-if="selectedComment.hasFlag">
                      <div v-if="selectedComment.flagInfo" class="bot">
                        <span v-if="!isFeedbackSet(selectedComment.message_id)"><img src="static/flag.png">&nbsp;&nbsp;{{selectedComment.flagInfo}}<sup><img class="help" @mouseenter="showTooltip" @mouseleave="hideTooltip" src="static/help.png"/></sup></span>
                        <button v-if="!isFeedbackSet(selectedComment.message_id)" class="button" @click="feedback('Agree', selectedComment.message_id)">Agree{{selectedComment.hasBot && " with bot"}}</button>
                        <button v-if="!isFeedbackSet(selectedComment.message_id)" class="button" @click="feedback('Oppose', selectedComment.message_id)">Disagree{{selectedComment.hasBot && " with bot"}}</button>
                        <span v-if="isFeedbackSet(selectedComment.message_id)">{{isFeedbackSet(selectedComment.message_id).feedback === 'Agree' ? 'Agree' : 'Disagree'}}{{selectedComment.hasBot && " with bot"}}</span>
                        <button v-if="isFeedbackSet(selectedComment.message_id)" class="button" @click="feedback('Change', selectedComment.message_id)">Change</button>
                      </div>
                      <div v-else class="bot">
                        <button v-if="!isReported(selectedComment.message_id)" class="button" @click="report(selectedComment.message_id)"><img src="static/flag-outline.png">&nbsp;Report Abuse{{selectedComment.hasBot && " to bot"}}</button>
                        <template v-else>
                          <span>Reported</span>
                          <button class="button" @click="report(comment.message_id, false)">Change</button>
                        </template>
                      </div>
                    </template>
                    <div v-else class="bot">
                      <button v-if="!isReported(selectedComment.message_id)" class="button" @click="report(selectedComment.message_id)"><img src="static/flag-outline.png">&nbsp;Report Abuse{{selectedComment.hasBot && " to bot"}}</button>
                      <template v-else>
                        <span>Reported</span>
                        <button class="button" @click="report(comment.message_id, false)">Change</button>
                      </template>
                    </div>
                  </div>
                  <div class="row text">{{selectedComment.comment_text}}</div>
                  <div class="row">
                    <button class="button vote" :class="{ active: isVoted('up', selectedComment.message_id) }" @click="vote('up', selectedComment.message_id)"><img src="static/like.png">{{parseInt(selectedComment.up_count, 10) + (isVoted('up', selectedComment.message_id) ? 1 : 0)}}</button>
                    <button class="button vote" :class="{ active: isVoted('down', selectedComment.message_id) }" @click="vote('down', selectedComment.message_id)"><img src="static/dislike.png">{{parseInt(selectedComment.down_count, 10) + (isVoted('down', selectedComment.message_id) ? 1 : 0)}}</button>
                  </div>
                </div>
              </li>
            <li v-for="reply in replies" :key="reply.reply_id" class="comment">
              <img class="photo" :src="'http://tinygraphs.com/squares/'+reply['reply_uid']+'?theme=frogideas&numcolors=2'">
              <div class="details">
                <div class="row">
                  <span class="name">{{reply.reply_nickname}}</span>
                </div>
                <div class="row text">{{reply.reply_text}}</div>
                <div class="row">
                  <button class="button" @click="replyTo(null, reply)"><img src="static/reply.png" class="reply-icon">Reply</button>
                  <button class="button vote" :class="{ active: isVoted('up', reply.message_id, reply.reply_id) }" @click="vote('up', reply.message_id, reply.reply_id)"><img src="static/like.png">{{parseInt(reply.reply_up_count, 10) + (isVoted('up', reply.message_id, reply.reply_id) ? 1 : 0)}}</button>
                  <button class="button vote" :class="{ active: isVoted('down', reply.message_id, reply.reply_id) }" @click="vote('down', reply.message_id, reply.reply_id)"><img src="static/dislike.png">{{parseInt(reply.reply_down_count, 10) + (isVoted('down', reply.message_id, reply.reply_id) ? 1 : 0)}}</button>
                </div>
              </div>
            </li>
            <li v-for="(comment, idx) in userData.comments.filter((item) => item.mid === selectedComment.message_id)" :key="idx" class="comment">
              <img class="photo" :src="(validateEmail(userData.email) && userData.email) ? 'http://tinygraphs.com/squares/'+userData.email+'?theme=frogideas&numcolors=2' : 'static/user.png'">
              <div class="details">
                <div class="row">
                  <span class="name">You</span>
                </div>
                <div class="row text">{{comment.content}}</div>
              </div>
            </li>
          </ul>
          <div class="post-comment">
            <div class="row">
              <img :src="(validateEmail(userData.email) && userData.email) ? 'http://tinygraphs.com/squares/'+userData.email+'?theme=frogideas&numcolors=2' : 'static/user.png'">
              <textarea ref="reply" cols="40" rows="3" placeholder="Post your comment here."></textarea>
            </div>
            <div class="row">
              <button class="button" @click="post(selectedComment.message_id)">Post</button>
            </div>
          </div>
        </section>
      </div>
      <div v-show="showBotDialog" class="modal">
        <div class="feedback">
          <p>Thanks for helping managing our discussions. </p>
          <p>Your feedback has been received :)</p>
          <p style="color: #BD1515;">In this case, do you think {{c.hasBot ? 'the bot' : 'we'}} should be....</p>
          <div class="row">
            <button class="button" @click="moreFeedback('Stricter')">Stricter</button>
            <button class="button" @click="moreFeedback('Easier')">Easier</button>
          </div>
        </div>
      </div>
      <div v-show="showReportDialog" class="modal">
        <div class="reported">
          <p>Thanks for helping improving our comment system! We have received your feedback.</p>
          <div class="row">
            <button class="button" @click="showReportDialog = false">Back to discussion</button>
          </div>
        </div>
      </div>
    </article>
    <div v-show="showUserDialog" class="modal">
      <div class="user">
        <p>Please enter the same email address you set in the survey:</p>
        <span>
          Email address: <input ref="commentEmail" type="email" placeholder="Your email address is required." v-model="userData.email">
        </span>
        <div class="row">
          <button class="button" @click="login">Log in</button>
        </div>
      </div>
    </div>
    <div id="tooltip" v-show="showingTooltip">
      <p><strong>The moderation decision is made based on our comment policy.</strong></p>
      <p>- Don't make false statements, defame, or impersonate someone else.<br>- Don't copy and post others' material, trademarks, or intellectual property.<br>- Comments shouldn't harass, abuse, or threaten anyone's personal safety or property.<br>- Don't post profanity, obscenities, abusive language, or otherwise objectionable content.</p>
    </div>
    <div v-show="showSlides" class="modal" style="background-color: black;">
      <div class="slides">
        <img class="slide" :src="'static/training/'+which+'/Slide'+currentSlide+'.png'"/>
        <div class="row">
          <button class="button" @click="prevSlide" :disabled="currentSlide === 1">{{currentSlide === 1 ? "" : "Prev"}}</button>
          <span>{{currentSlide}} / {{lastSlide}}</span>
          <button class="button" @click="nextSlide">{{isLastSlide ? "Done" : "Next"}}</button>
        </div>
      </div>
    </div>
  </div>
  <script src="static/main.min.js"></script>
</body>
</html>