<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Weed is legal in 3 more states — here's what to expect from the new laws</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" media="screen" href="static/main.min.css" />
  <script src="static/vue.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
  <script src="https://www.gstatic.com/firebasejs/5.0.4/firebase.js"></script>
  <script src="static/papaparse.min.js"></script>
</head>
<body>
  <div id="app" class="container" v-cloak>
    <article v-if="which !== undefined && which >= 0 && which < 20">
      <h1>Weed is legal in 3 more states — here's what to expect from the new laws</h1>
      <section class="meta">
        <u class="name">Alexis Keenan</u>
        <span class="source">Reporter</span>
        <time class="time">November 7, 2018</time>
      </section>
      <section class="content">
        <p>While much of Tuesday’s elections focused on Congress and several states’ gubernatorial races, voters also weighed in on another contentious issue — marijuana.</p>
        <p>Michigan voters on Tuesday made the state the 10th in the U.S. — and the first in the Midwest — to legalize recreational marijuana. Voters in a second Midwest state, North Dakota, struck down a similar measure that would have legalized recreational use and expunged criminal records for prior marijuana offenders.</p>
        <p>Meanwhile, Missouri and Utah passed initiatives to legalize medical marijuana, joining 31 other states, Washington DC, Guam and Puerto Rico, that already permit medicinal use. Recreational marijuana is already legal in Washington, DC, and nine other states:  Washington, Oregon, Nevada, California, Colorado, Alaska, Vermont, Maine and Massachusetts.</p
        ><p>Here’s what to expect in the new laws:</p>
        <img src="static/1.png">
        <p>Michigan’s Proposal 1 permits use for adults 21 and older, yet allows municipalities to ban or restrict marijuana use and commercial enterprise within their boundaries. The new law will allow individuals to grow up to 12 cannabis plants at a time. Public consumption remains prohibited. Michigan has provided for one of the lowest cannabis tax levels in the nation with retailers to pay a 10% excise tax, and consumers picking up the state’s 6% sales tax.</p>
        <p>While 56% of Michigan voted to support legalization, 44% opposed. The bill is expected to go into effect next year with sales beginning in 2020.</p>
        <p>“I am proud of Michigan voters who have overwhelmingly supported this initiative and I am extremely excited about a future where law enforcement and our criminal justice system can focus on real crime and improve public safety,”  Barton Morris Junior, founder of Cannabis Legal Group, told Yahoo Finance.</p>
         <img src="static/2.png">
        <p>North Dakota’s Measure 3 failed to pass. The brake on legalization comes as less of a surprise, as critics warned the bill lacked regulatory and enforcement details. The state’s proposal contained no mandatory tax on marijuana transfers or sales, making revenue projections uncertain. Proponents of the measure viewed it as critical criminal justice reform, as the state has one of the lowest marijuana consumption rates, yet is among the highest for prosecuting marijuana offenses. </p>
        <img src="static/3.png">
        <p>Cole Haymond, an Advisor for Legalize ND, said North Dakota is also home to veterans who could benefit from easier access to the drug. “With a state with a high percentage of veterans it’s disappointing if it doesn’t pass,” Haymod said ahead of the vote.</p>
        <p>Polls leading into midterm elections were mixed on the initiative. An October 11 – 14 poll found 51% of likely voters in favor of legalized recreational use, while an earlier October poll found 59% against the measure.</p>
        <p>While 59.5% of North Dakota voters ultimately said no to legalization, only 40.5% said yes.</p>
         <img src="static/4.png">
        <p>Missouri voters approved a ballot initiative to legalize medical marijuana, saying yes to  Amendment 2, but rejecting medical marijuana initiatives with varying tax rates and earmarks. The approved measure provides for a 4% tax on retail medical marijuana sales with proceeds benefitting a Missouri veteran health care fund. Voters rejected two other initiatives that looked to tax medical marijuana at 15% and 2% tax rates.</p>
        <p>While 57% of Missouri voters voted in favor of medical legalization under Amendment 2, 44% voted against. </p>
         <img src="static/5.png">
        <p>Utah’s new law, based on Proposition 2, will permit medical use for medical card holders who have “qualifying illnesses.” It will also authorize a limited number of licensed facilities to cultivate, test and dispense marijuana, and permit medical card holders to grow up to 6 marijuana plants.</p>
        <p>While 53% of Utah voters supported medical legalization, 47% voted against.</p>
      </section>
      <section class="comments">
        <div class="statement">
          <p><strong>We need your voice on marijuana legalization. We welcome your on-topic commentary, criticism, and expertise.</strong></p>
          <p><strong>Please follow our guidelines to ensure everyone has a positive experience, and please help us moderate by reporting any inappropriate posts.</strong>
          <p>Don't make false statements, defame, or impersonate someone else.<br>
          Don't copy and post others' material, trademarks, or intellectual property.<br>
          Comments shouldn't harass, abuse, or threaten anyone's personal safety or property.<br>
          Don't post profanity, obscenities, abusive language, or otherwise objectionable content.<br>
          </p>
          

          <p><em>* We are not responsible or liable in any way for comments posted by its users. </em></p>
        </div>
        <div class="post-comment">
          <div class="row">
            <span>{{(userData.email && userData.email) || 'Please log in first.'}}</span>
          </div>
          <div class="row">
            <img :src="(userData.email && userData.email) ? 'http://tinygraphs.com/squares/'+userData.email+'?theme=frogideas&numcolors=2' : 'static/user.png'">
            <textarea ref="comment" cols="40" rows="3" placeholder="Post your comment here."></textarea>
          </div>
          <div class="row">
            <button class="button" @click="post()">Post</button>
          </div>
        </div>
        <ul class="comment-list">
          <li v-for="comment in comments" :key="comment.message_id" class="comment">
            <img class="photo" :src="'http://tinygraphs.com/squares/'+comment['user_id']+'?theme=frogideas&numcolors=2'">
            <div class="details">
              <div class="row">
                <span class="name">{{comment.nickname}}</span>
                <template v-if="comment.hasFlag">
                  <div v-if="comment.flagInfo" class="bot large-screen">
                    <span v-if="!isFeedbackSet(comment.message_id)"><img src="static/flag.png">&nbsp;{{comment.flagInfo}}<sup><img class="help" @mouseenter="showTooltip" @mouseleave="hideTooltip" src="static/help.png"/></sup></span>
                    <button v-if="!isFeedbackSet(comment.message_id)" class="button" @click="feedback('Agree', comment.message_id)">Agree{{comment.hasBot && " with bot"}}</button>
                    <button v-if="!isFeedbackSet(comment.message_id)" class="button" @click="feedback('Oppose', comment.message_id)">Disagree{{comment.hasBot && " with bot"}}</button>
                    <span v-if="isFeedbackSet(comment.message_id)">{{isFeedbackSet(comment.message_id).feedback === 'Agree' ? 'Agree' : 'Disagree'}}{{comment.hasBot && " with bot"}}</span>
                    <button v-if="isFeedbackSet(comment.message_id)" class="button" @click="feedback('Change', comment.message_id)">Change</button>
                  </div>
                  <div v-else class="bot large-screen">
                    <button v-if="!isReported(comment.message_id)" class="button" @click="report(comment.message_id)"><img src="static/flag-outline.png">&nbsp;Report Abuse{{comment.hasBot && " to bot"}}</button>
                    <template v-else>
                      <span>Reported</span>
                      <button class="button" @click="report(comment.message_id, false)">Change</button>
                    </template>
                  </div>
                </template>
                <div v-else class="bot large-screen">
                  <button v-if="!isReported(comment.message_id)" class="button" @click="report(comment.message_id)"><img src="static/flag-outline.png">&nbsp;Report Abuse{{comment.hasBot && " to bot"}}</button>
                  <template v-else>
                    <span>Reported</span>
                    <button class="button" @click="report(comment.message_id, false)">Change</button>
                  </template>
                </div>
              </div>
              <div class="row small-screen">
                <template v-if="comment.hasFlag">
                  <div v-if="comment.flagInfo" class="bot">
                    <span v-if="!isFeedbackSet(comment.message_id)"><img src="static/flag.png">&nbsp;&nbsp;{{comment.flagInfo}}<sup><img class="help" @mouseenter="showTooltip" @mouseleave="hideTooltip" src="static/help.png"/></sup></span>
                    <button v-if="!isFeedbackSet(comment.message_id)" class="button" @click="feedback('Agree', comment.message_id)">Agree{{comment.hasBot && " with bot"}}</button>
                    <button v-if="!isFeedbackSet(comment.message_id)" class="button" @click="feedback('Oppose', comment.message_id)">Disagree{{comment.hasBot && " with bot"}}</button>
                    <span v-if="isFeedbackSet(comment.message_id)">{{isFeedbackSet(comment.message_id).feedback === 'Agree' ? 'Agree' : 'Disagree'}}{{comment.hasBot && " with bot"}}</span>
                    <button v-if="isFeedbackSet(comment.message_id)" class="button" @click="feedback('Change', comment.message_id)">Change</button>
                  </div>
                  <div v-else class="bot">
                    <button v-if="!isReported(comment.message_id)" class="button" @click="report(comment.message_id)"><img src="static/flag-outline.png">&nbsp;Report Abuse{{comment.hasBot && " to bot"}}</button>
                    <template v-else>
                      <span>Reported</span>
                      <button class="button" @click="report(comment.message_id, false)">Change</button>
                    </template>
                  </div>
                </template>
                <div v-else class="bot">
                  <button v-if="!isReported(comment.message_id)" class="button" @click="report(comment.message_id)"><img src="static/flag-outline.png">&nbsp;Report Abuse{{comment.hasBot && " to bot"}}</button>
                  <template v-else>
                    <span>Reported</span>
                    <button class="button" @click="report(comment.message_id, false)">Change</button>
                  </template>
                </div>
              </div>
              <div class="row text">{{comment.comment_text}}</div>
              <div class="row">
                <button class="button"  @click="replyTo(comment)"><img src="static/reply.png" class="reply-icon">Reply</button>
                <button class="button" @click="showRepliesOf(comment)">Replies{{replyCount(comment) ? `(${replyCount(comment)})` : ''}}</button>
                <button class="button vote" :class="{ active: isVoted('up', comment.message_id) }" @click="vote('up', comment.message_id)"><img src="static/like.png">{{parseInt(comment.up_count, 10) + (isVoted('up', comment.message_id) ? 1 : 0)}}</button>
                <button class="button vote" :class="{ active: isVoted('down', comment.message_id) }" @click="vote('down', comment.message_id)"><img src="static/dislike.png">{{parseInt(comment.down_count, 10) + (isVoted('down', comment.message_id) ? 1 : 0)}}</button>
              </div>
            </div>
          </li>
          <li v-for="(comment, idx) in userData.comments.filter((item) => !item.mid)" :key="idx" class="comment">
            <img class="photo" :src="(userData.email && userData.email) ? 'http://tinygraphs.com/squares/'+userData.email+'?theme=frogideas&numcolors=2' : 'static/user.png'">
            <div class="details">
              <div class="row">
                <span class="name">You</span>
              </div>
              <div class="row text">{{comment.content}}</div>
            </div>
          </li>
        </ul>
      </section>
      <div v-if="selectedComment !== null" class="modal">
        <section class="replies">
          <div class="close" @click="closeModal">X</div>
          <ul class="reply-list">
              <li class="comment">
                <img class="photo" :src="'http://tinygraphs.com/squares/'+selectedComment['user_id']+'?theme=frogideas&numcolors=2'">
                <div class="details">
                  <div class="row">
                    <span class="name">{{selectedComment.nickname}}</span>
                    <template v-if="selectedComment.hasFlag">
                      <div v-if="selectedComment.flagInfo" class="bot large-screen">
                        <span v-if="!isFeedbackSet(selectedComment.message_id)"><img src="static/flag.png">&nbsp;{{selectedComment.flagInfo}}<sup><img class="help" @mouseenter="showTooltip" @mouseleave="hideTooltip" src="static/help.png"/></sup></span>
                        <button v-if="!isFeedbackSet(selectedComment.message_id)" class="button" @click="feedback('Agree', selectedComment.message_id)">Agree{{selectedComment.hasBot && " with bot"}}</button>
                        <button v-if="!isFeedbackSet(selectedComment.message_id)" class="button" @click="feedback('Oppose', selectedComment.message_id)">Disagree{{selectedComment.hasBot && " with bot"}}</button>
                        <span v-if="isFeedbackSet(selectedComment.message_id)">{{isFeedbackSet(selectedComment.message_id).feedback === 'Agree' ? 'Agree' : 'Disagree'}}{{selectedComment.hasBot && " with bot"}}</span>
                        <button v-if="isFeedbackSet(selectedComment.message_id)" class="button" @click="feedback('Change', selectedComment.message_id)">Change</button>
                      </div>
                      <div v-else class="bot large-screen">
                        <button v-if="!isReported(selectedComment.message_id)" class="button" @click="report(selectedComment.message_id)"><img src="static/flag-outline.png">&nbsp;Report Abuse{{selectedComment.hasBot && " to bot"}}</button>
                        <template v-else>
                          <span>Reported</span>
                          <button class="button" @click="report(comment.message_id, false)">Change</button>
                        </template>
                      </div>
                    </template>
                    <div v-else class="bot large-screen">
                      <button v-if="!isReported(selectedComment.message_id)" class="button" @click="report(selectedComment.message_id)"><img src="static/flag-outline.png">&nbsp;Report Abuse{{selectedComment.hasBot && " to bot"}}</button>
                      <template v-else>
                        <span>Reported</span>
                        <button class="button" @click="report(comment.message_id, false)">Change</button>
                      </template>
                    </div>
                  </div>
                  <div class="row small-screen">
                    <template v-if="selectedComment.hasFlag">
                      <div v-if="selectedComment.flagInfo" class="bot">
                        <span v-if="!isFeedbackSet(selectedComment.message_id)"><img src="static/flag.png">&nbsp;&nbsp;{{selectedComment.flagInfo}}<sup><img class="help" @mouseenter="showTooltip" @mouseleave="hideTooltip" src="static/help.png"/></sup></span>
                        <button v-if="!isFeedbackSet(selectedComment.message_id)" class="button" @click="feedback('Agree', selectedComment.message_id)">Agree{{selectedComment.hasBot && " with bot"}}</button>
                        <button v-if="!isFeedbackSet(selectedComment.message_id)" class="button" @click="feedback('Oppose', selectedComment.message_id)">Disagree{{selectedComment.hasBot && " with bot"}}</button>
                        <span v-if="isFeedbackSet(selectedComment.message_id)">{{isFeedbackSet(selectedComment.message_id).feedback === 'Agree' ? 'Agree' : 'Disagree'}}{{selectedComment.hasBot && " with bot"}}</span>
                        <button v-if="isFeedbackSet(selectedComment.message_id)" class="button" @click="feedback('Change', selectedComment.message_id)">Change</button>
                      </div>
                      <div v-else class="bot">
                        <button v-if="!isReported(selectedComment.message_id)" class="button" @click="report(selectedComment.message_id)"><img src="static/flag-outline.png">&nbsp;Report Abuse{{selectedComment.hasBot && " to bot"}}</button>
                        <template v-else>
                          <span>Reported</span>
                          <button class="button" @click="report(comment.message_id, false)">Change</button>
                        </template>
                      </div>
                    </template>
                    <div v-else class="bot">
                      <button v-if="!isReported(selectedComment.message_id)" class="button" @click="report(selectedComment.message_id)"><img src="static/flag-outline.png">&nbsp;Report Abuse{{selectedComment.hasBot && " to bot"}}</button>
                      <template v-else>
                        <span>Reported</span>
                        <button class="button" @click="report(comment.message_id, false)">Change</button>
                      </template>
                    </div>
                  </div>
                  <div class="row text">{{selectedComment.comment_text}}</div>
                  <div class="row">
                    <button class="button vote" :class="{ active: isVoted('up', selectedComment.message_id) }" @click="vote('up', selectedComment.message_id)"><img src="static/like.png">{{parseInt(selectedComment.up_count, 10) + (isVoted('up', selectedComment.message_id) ? 1 : 0)}}</button>
                    <button class="button vote" :class="{ active: isVoted('down', selectedComment.message_id) }" @click="vote('down', selectedComment.message_id)"><img src="static/dislike.png">{{parseInt(selectedComment.down_count, 10) + (isVoted('down', selectedComment.message_id) ? 1 : 0)}}</button>
                  </div>
                </div>
              </li>
            <li v-for="reply in replies" :key="reply.reply_id" class="comment">
              <img class="photo" :src="'http://tinygraphs.com/squares/'+reply['reply_uid']+'?theme=frogideas&numcolors=2'">
              <div class="details">
                <div class="row">
                  <span class="name">{{reply.reply_nickname}}</span>
                </div>
                <div class="row text">{{reply.reply_text}}</div>
                <div class="row">
                  <button class="button" @click="replyTo(null, reply)"><img src="static/reply.png" class="reply-icon">Reply</button>
                  <button class="button vote" :class="{ active: isVoted('up', reply.message_id, reply.reply_id) }" @click="vote('up', reply.message_id, reply.reply_id)"><img src="static/like.png">{{parseInt(reply.reply_up_count, 10) + (isVoted('up', reply.message_id, reply.reply_id) ? 1 : 0)}}</button>
                  <button class="button vote" :class="{ active: isVoted('down', reply.message_id, reply.reply_id) }" @click="vote('down', reply.message_id, reply.reply_id)"><img src="static/dislike.png">{{parseInt(reply.reply_down_count, 10) + (isVoted('down', reply.message_id, reply.reply_id) ? 1 : 0)}}</button>
                </div>
              </div>
            </li>
            <li v-for="(comment, idx) in userData.comments.filter((item) => item.mid === selectedComment.message_id)" :key="idx" class="comment">
              <img class="photo" :src="(userData.email && userData.email) ? 'http://tinygraphs.com/squares/'+userData.email+'?theme=frogideas&numcolors=2' : 'static/user.png'">
              <div class="details">
                <div class="row">
                  <span class="name">You</span>
                </div>
                <div class="row text">{{comment.content}}</div>
              </div>
            </li>
          </ul>
          <div class="post-comment">
            <div class="row">
              <img :src="(userData.email && userData.email) ? 'http://tinygraphs.com/squares/'+userData.email+'?theme=frogideas&numcolors=2' : 'static/user.png'">
              <textarea ref="reply" cols="40" rows="3" placeholder="Post your comment here."></textarea>
            </div>
            <div class="row">
              <button class="button" @click="post(selectedComment.message_id)">Post</button>
            </div>
          </div>
        </section>
      </div>
      <div v-show="showBotDialog" class="modal">
        <div class="feedback">
          <p>Thanks for helping managing our discussions. </p>
          <p>Your feedback has been received :)</p>
          <p style="color: #BD1515;">In this case, do you think {{c.hasBot ? 'the bot' : 'we'}} should be....</p>
          <div class="row">
            <button class="button" @click="moreFeedback('Stricter')">Stricter</button>
            <button class="button" @click="moreFeedback('Easier')">Easier</button>
          </div>
        </div>
      </div>
      <div v-show="showReportDialog" class="modal">
        <div class="reported">
          <p>Thanks for helping improving our comment system! We have received your feedback.</p>
          <div class="row">
            <button class="button" @click="showReportDialog = false">Back to discussion</button>
          </div>
        </div>
      </div>
    </article>
    <div v-show="showUserDialog" class="modal">
      <div class="user">
        <p>Please enter the username you set in the survey:</p>
        <span>
          Username: <input ref="commentEmail" type="email" placeholder="Your username is required." v-model="userData.email">
        </span>
        <div class="row">
          <button class="button" @click="login">Log in</button>
        </div>
      </div>
    </div>
    <div id="tooltip" v-show="showingTooltip">
      <p><strong>The moderation decision is made based on our comment policy.</strong></p>
      <p>- Don't make false statements, defame, or impersonate someone else.<br>- Don't copy and post others' material, trademarks, or intellectual property.<br>- Comments shouldn't harass, abuse, or threaten anyone's personal safety or property.<br>- Don't post profanity, obscenities, abusive language, or otherwise objectionable content.</p>
    </div>
    <div v-show="showSlides" class="modal" style="background-color: black;">
      <div class="slides">
        <img class="slide" :src="'static/training/'+which+'/Slide'+currentSlide+'.png'"/>
        <div class="row">
          <button class="button" @click="prevSlide" :disabled="currentSlide === 1">{{currentSlide === 1 ? "" : "Prev"}}</button>
          <span>{{currentSlide}} / {{lastSlide}}</span>
          <button class="button" @click="nextSlide">{{isLastSlide ? "Done" : "Next"}}</button>
        </div>
      </div>
    </div>
  </div>
  <script src="static/main.min.js"></script>
</body>
</html>
